@import '../../sass/index.scss';
.filter-tech {
    &__container {
        margin-bottom: 1.5rem;
        margin-top: 0;
        text-align: center;
        padding: 0 5rem 1rem 5rem;
        svg {
            height: 13px;
            width: 13px;
            margin: 1px 6px -2px 0px;
        }
        @media(max-width: 768px) {
            padding: 0
        }
        &__item {
            font-size: 10px;
            padding: 4px 7px;
            border-radius: 5px;
            display: inline-block;
            margin-right: 8px;
            margin-bottom: 8px;
            cursor: pointer;
            text-transform: uppercase;
            &.dark {
                background: $clr-primary-5-dark;
                border: 1px solid $clr-primary-7-dark;
                color: $clr-grey-1-dark;
                &.selected {
                    background: darken($clr-primary-5-dark, 20%);
                    border: 1px solid $clr-primary-7-dark;
                }
                &:hover {
                    background: darken($clr-primary-5-dark, 20%);
                    color: $clr-primary-6-dark;
                }
                svg {
                    color: $clr-grey-1-dark !important;
                }
            }
            &.light {
                background: $clr-primary-5;
                border: 1px solid $clr-primary-7;
                color: $clr-primary-8;
                &.selected {
                    background: darken($clr-primary-5, 10%);
                    border: 1px solid $clr-primary-7;
                }
                &:hover {
                    background: darken($clr-primary-5, 10%);
                    border: 1px solid $clr-primary-7;
                }
                svg {
                    color: $clr-grey-1-dark !important;
                }
            }
            &.blue {
                background: $clr-primary-5-blue;
                border: 1px solid $clr-primary-3-blue;
                color: $clr-grey-1-dark;
                &.selected {
                    background: darken($clr-primary-5-blue, 10%);
                    border: 1px solid $clr-grey-1-dark;
                }
                &:hover {
                    background: darken($clr-primary-5-blue, 10%);
                    border: 1px solid $clr-grey-1-dark;
                }
                svg {
                    color: $clr-grey-1-dark !important;
                }
            }
            &.yellow {
                background: $clr-primary-6-yellow;
                border: 1px solid $clr-primary-5-yellow;
                color: $clr-grey-1-dark;
                &.selected {
                    background: darken($clr-primary-2-yellow, 10%);
                    border: 1px solid $clr-primary-7-yellow;
                    color: #000 !important;
                    svg {
                        color: #000 !important;
                    }
                }
                &:hover {
                    background: darken($clr-primary-2-yellow, 10%);
                    border: 1px solid $clr-primary-7-yellow;
                    color: #000 !important;
                    svg {
                        color: #000 !important;
                    }
                }
                svg {
                    color: $clr-grey-1-dark !important;
                }
            }
            &.pink {
                background: $clr-primary-8-pink;
                border: 1px solid $clr-primary-3-pink;
                color: $clr-grey-1-dark;
                &.selected {
                    background: darken($clr-primary-5-pink, 20%);
                    border: 1px solid $clr-grey-1-dark;
                }
                &:hover {
                    background: darken($clr-primary-5-pink, 20%);
                    border: 1px solid $clr-grey-1-dark;
                }
                svg {
                    color: $clr-grey-1-dark !important;
                }
            }
        }
    }
}