@import '../../sass/index.scss';
.filter-tech {
    &__container {
        margin-bottom: 1.5rem;
        margin-top: 0;
        text-align: center;
        padding: 0 5rem 1rem 5rem;
        svg {
            height: 13px;
            width: 13px;
            margin: 1px 6px -2px 0px;

            @media(min-width: 1600px) {
                margin: 2px 6px -2px 1px !important;
            }
        }
        @media(max-width: 768px) {
            padding: 0 0 2.5rem 0;
        }
        
        &__item {
            font-size: 10px;
            padding: 5px 7px;
            border-radius: 5px;
            display: inline-block;
            margin-right: 8px;
            margin-bottom: 8px;
            cursor: pointer;
            text-transform: uppercase;
            &.dark {
                background: $clr-primary-8-dark;
                border: 1px solid $clr-primary-7-dark;
                color: $clr-grey-1-dark;
                &.selected {
                    background: $clr-primary-5-dark;
                    border: 1px solid $clr-primary-5-dark;
                    color: $clr-primary-6-dark !important;
                    svg {
                        color: $clr-primary-6-dark !important;
                    }
                }
                &:hover {
                    border: 1px solid $clr-primary-5-dark;
                }
                svg {
                    color: $clr-grey-1-dark !important;
                }
            }
            &.light {
                background: $clr-primary-8;
                border: 1px solid darken($clr-primary-5, 5%);
                color: darken($clr-primary-5, 10%);
                &.selected {
                    background: darken($clr-primary-5, 10%);
                    border: 1px solid $clr-primary-5;
                    color: $clr-primary-8 !important;
                    svg {
                        color: $clr-primary-8;
                    }
                }
                &:hover {
                    border: 1px solid $clr-primary-4;
                }
                svg {
                    color: darken($clr-primary-5, 10%);
                }
            }
            &.blue {
                background: $clr-primary-8-blue;
                border: 1px solid $clr-primary-3-blue;
                color: $clr-grey-1-dark;
                &.selected {
                    background: darken($clr-primary-5-blue, 10%);
                    border: 1px solid $clr-primary-5-blue;
                }
                &:hover {
                    border: 1px solid $clr-primary-5-blue;
                }
                svg {
                    color: $clr-grey-1-dark !important;
                }
            }
            &.yellow {
                background: $clr-primary-6-yellow;
                border: 1px solid $clr-primary-5-yellow;
                color: $clr-grey-1-dark;
                &.selected {
                    background: darken($clr-primary-2-yellow, 10%);
                    border: 1px solid $clr-primary-7-yellow;
                    color: #000 !important;
                    svg {
                        color: #000 !important;
                    }
                }
                &:hover {
                    border: 1px solid $clr-primary-4-yellow;
                }
                svg {
                    color: $clr-grey-1-dark !important;
                }
            }
            &.pink {
                background: $clr-primary-6-pink;
                border: 1px solid darken($clr-primary-8-pink, 5%);
                color: darken($clr-primary-8-pink, 10%);
                &.selected {
                    background: darken($clr-primary-5-pink, 10%);
                    border: 1px solid $clr-primary-5-pink;
                    color: $clr-primary-8 !important;
                    svg {
                        color: $clr-primary-8;
                    }
                }
                &:hover {
                    border: 1px solid $clr-primary-1-pink;
                }
                svg {
                    color: darken($clr-primary-5-pink, 10%);
                }
            }
        }
    }
}