@import '../../sass/variables.scss';

.projects {
    background: $clr-grey-10;
}

.project {
    display: grid;
    margin-bottom: 4rem;
}

.project-img {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    height: 19rem;
    z-index: 1;
}

.project-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, $clr-primary-5), #222;
    opacity: 0.85;
    transition: $transition;
}

.project:hover .project-img::after {
    opacity: 0;
}

.project-info {
    background: $clr-white;
    padding: 1rem 2rem;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    margin-bottom: 15px;
}

.project-number {
    display: inline-block;
    font-size: 1.25rem;
    color: $clr-primary-5;
    margin-bottom: 0.75rem;
}

.project-slug {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem !important;
    text-transform: uppercase;
    color: $clr-grey-1;
    transition: $transition;
}

.project-slug h3:hover {
    color: $clr-primary-5;
}

.icon-link-project {
    float: right;
}

.project-desc {
    word-spacing: 3px;
    color: $clr-grey-3;
}

.project-stack {
    margin-bottom: 1rem;
}

.project-stack span,
.about-stack span {
    display: inline-block;
    background: $clr-grey-9;
    color: $clr-grey-5;
    margin-right: 0.55rem;
    padding: 0.25rem 0.5rem;
    border-radius: $radius;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
}

.about-stack span {
    margin-top: 0.5rem;
}

.project-icon {
    color: $clr-primary-5;
    font-size: 1.25rem;
    margin-right: 0.5rem;
    transition: $transition;
}

.project-icon:hover {
    color: $clr-primary-1;
}

@media screen and (min-width: 576px) {
    .project-img {
        height: 19rem;
    }
}

@media screen and (min-width: 768px) {
    .project-img {
        height: 22rem;
    }
}

@media screen and (min-width: 992px) {
    .project {
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
    }
    .project-img {
        grid-column: 1 / span 8;
        /* grid-column-end: 8; */
        grid-row: 1 / 1;
        height: 30rem;
        border-radius: $radius;
        box-shadow: $dark-shadow;
    }
    .project-info {
        border-radius: $radius;
        box-shadow: $dark-shadow;
        z-index: 1;
        grid-column: 5 /12;
        grid-row: 1 / 1;
        margin-bottom: 15px;
    }
    .project:nth-of-type(even) .project-img {
        grid-column: 5 / -1;
        grid-row: 1 / 1;
    }
    .project:nth-of-type(even) .project-info {
        grid-column: 2 / span 7;
        grid-row: 1 / 1;
        text-align: left;
    }
    
}
