@import '../../sass/variables.scss';

.projects {
    background: $clr-grey-10;
}

.project {
    display: grid;
    margin-bottom: 4rem;
}

.project-number {
    display: inline-block;
    font-size: 1.25rem;
    color: $clr-primary-5;
    margin-bottom: 0.75rem;
}

.about-stack span {
    display: inline-block;
    background: $clr-grey-9;
    color: $clr-grey-3;
    margin-right: 0.55rem;
    padding: 0.25rem 0.5rem;
    border-radius: $radius;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
    margin-top: 0.5rem;

    @media screen and (max-width: 576px) {
        display: inline-block;
        background: #dae2ec;
        color: #324d67;
        margin-right: 0.45rem;
        padding: 0.20rem 0.45rem;
        border-radius: 0.25rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.7rem;
        
    }
}


@media screen and (min-width: 576px) {
    .project-img {
        height: 19rem;
    }
}

@media screen and (min-width: 768px) {
    .project-img {
        height: 22rem;
    }
}

@media screen and (min-width: 992px) {
    .project {
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
    }
    .project-img {
        grid-column: 1 / span 8;
        grid-row: 1 / 1;
        height: 30rem;
        border-radius: $radius;
        box-shadow: $dark-shadow;
    }
    .project:nth-of-type(even) .project-img {
        grid-column: 5 / -1;
        grid-row: 1 / 1;
    }
    .project:nth-of-type(even) {
        grid-column: 2 / span 7;
        grid-row: 1 / 1;
        text-align: left;
    }
    
}
