@import '../../sass/variables.scss';

.educations {
    background: $clr-grey-10;
}

.item {
    display: grid;
    margin-bottom: 4rem;
}

.item-info {
    background: $clr-white;
    padding: 2rem 2rem;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    margin-bottom: 15px;
}

.item-slug {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem !important;
    text-transform: uppercase;
    color: $clr-grey-1;
    transition: $transition;
}

.item-slug h3:hover {
    color: $clr-primary-5;
}

.item-desc {
    word-spacing: 3px;
    color: $clr-grey-3;
}

.item-stack {
    margin-bottom: 1rem;
}

.item-stack span {
    display: inline-block;
    background: $clr-grey-9;
    color: $clr-grey-5;
    margin-right: 0.55rem;
    padding: 0.25rem 0.5rem;
    border-radius: $radius;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
}


.item-icon {
    color: $clr-primary-5;
    font-size: 1.25rem;
    margin-right: 0.5rem;
    transition: $transition;
}

.item-icon:hover {
    color: $clr-primary-1;
}

.education-separador {
    margin-top: 60px;
}

.education-periodo {
    margin-bottom: 1rem !important;
    margin-top: -7px !important;

    @media only screen and (max-width: 767px) {
        margin-bottom: 1rem !important;
        margin-top: -20px !important;
    }
}

.education-label {
    margin-top: 1.4rem;
    margin-bottom: 0 !important;
    font-size: 13px;

    @media only screen and (max-width: 767px) {
        margin-top: 1rem;
        margin-bottom: 27px !important;
    }
}

.education-label span {
    display: inline-block;
    background: #dae2ec;
    color: #617d98;
    margin-right: 0.55rem;
    margin-bottom: 10px;
    padding: 0.38rem 0.70rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 0.80rem;

    @media only screen and (max-width: 767px) {
        padding: 0.20rem 0.5rem;
        margin-bottom: 6px;
    }
}

.card-label-course {
    margin-top: -10px;
}

.desc-course {
    margin-top: 2rem;
    margin-bottom: 2.7rem !important;
    font-size: 13px;

    @media only screen and (max-width: 767px) {
        margin-top: -10px;
        margin-bottom: 25px !important;
    }
}

@media screen and (min-width: 992px) {
    .item {
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
    }
    .item-info {
        border-radius: $radius;
        box-shadow: $dark-shadow;
        z-index: 1;
        grid-column: 5 /12;
        grid-row: 1 / 1;
        margin-bottom: 15px;
    }
    
}
