/* Light Mode */

$clr-primary-1: hsl(184, 91%, 17%);
$clr-primary-5: #2caeba;
$clr-primary-7: #dffcff;
$clr-primary-8: #fcfcfc;
$clr-primary-10: #fff;
$clr-grey-1: hsl(209, 61%, 16%);
$clr-grey-3: hsl(209, 34%, 30%);
$clr-grey-4: hsl(209, 28%, 39%);
$clr-grey-5: hsl(210, 22%, 49%);
$clr-grey-10: hsl(210, 36%, 96%);
$clr-white: #fff;
$font-color-dark: rgb(42, 42, 42);

/* Dark Mode */

$clr-primary-1-dark: #330c8f;
$clr-primary-5-dark: #6234c3;
$clr-primary-7-dark: #8f62f7;
$clr-primary-8-dark: #202020;
$clr-primary-9-dark: #BB86FC;
$clr-primary-10-dark: #1d1d1d;
$clr-grey-1-dark: #f0eeee;
$clr-grey-5-dark: #e8e8e8;
$clr-grey-7-dark: #151515;
$clr-black: #1e1e1f;
$font-color-light: rgb(240, 240, 240);

/* Third Mode */

$clr-primary-1-blue: hsl(209, 91%, 17%);
$clr-primary-5-blue: #2761ad;
$clr-primary-7-blue: #dfeaff;
$clr-primary-8-blue: #fcfcfc;
$clr-primary-9-blue: #fcfcfc;
$clr-primary-10-blue: #fff;
$clr-grey-1-blue: hsl(218, 61%, 16%);
$clr-grey-3-blue: hsl(226, 35%, 30%);
$clr-grey-4-blue: hsl(214, 28%, 39%);
$clr-grey-5-blue: hsl(210, 22%, 49%);
$clr-grey-10-blue: hsl(206, 33%, 96%);