$clr-white: #fff;
$font-color-light: rgb(240, 240, 240);
$font-color-dark: rgb(42, 42, 42);
$clr-black: #1e1e1f;

/* Light Theme */

$clr-primary-1: hsl(184, 91%, 17%);
$clr-primary-4: #3d838a;
$clr-primary-5: #2caeba;
$clr-primary-7: #dffcff;
$clr-primary-8: #fcfcfc;
$clr-primary-9: #424141;
$clr-primary-10: #fff;
$clr-grey-1: hsl(209, 61%, 16%);
$clr-grey-3: hsl(209, 34%, 30%);
$clr-grey-5: hsl(210, 22%, 49%);
$clr-grey-10: hsl(210, 36%, 96%);

/* Dark Theme */

$clr-primary-5-dark: #6234c3;
$clr-primary-6-dark: #e2d6fa;
$clr-primary-7-dark: #8f62f7;
$clr-primary-8-dark: #131313;
$clr-primary-9-dark: #BB86FC;
$clr-primary-10-dark: #111111;
$clr-grey-1-dark: #f0eeee;
$clr-grey-5-dark: #e8e8e8;

/* Blue Theme */

$clr-primary-1-blue: #9fc6fa;
$clr-primary-3-blue: #5f92d4;
$clr-primary-5-blue: #2761ad;
$clr-primary-7-blue: #05112e;
$clr-primary-8-blue: #071536;
$clr-primary-10-blue: #071530;

/* Yellow Theme */

$clr-primary-1-yellow: #ffce5d;
$clr-primary-2-yellow: #ffca4f;
$clr-primary-3-yellow: #fcb83a;
$clr-primary-4-yellow: #F18E2A;
$clr-primary-5-yellow: #f8af06;
$clr-primary-6-yellow: #161a29;
$clr-primary-7-yellow: #ffa704;
$clr-primary-8-yellow: #071536;
$clr-primary-9-yellow: #141827;
$clr-primary-10-yellow: #071530;

/* Pink Theme */

$clr-primary-1-pink: #f89bbb;
$clr-primary-2-pink: #9A405F;
$clr-primary-3-pink: #fae3f1;
$clr-primary-5-pink: #f5abc5;
$clr-primary-6-pink: #ffffff;
$clr-primary-7-pink: #e9e9e9;
$clr-primary-8-pink: #ee95b4;
$clr-primary-10-pink: #555252;