// Fonts Colors
$font-gray: #777;
$font-dark: #424242;
$font-black: #000;

// Social Colors
$twitter: #00acee;
$linkedin: #0e86a8;
$github: #4b4b4b;
$world: #2b8d70;

// Background
$background-grey-light: #f4f4f4;