@import '../../sass/index.scss';
.hero {
    margin-top: -5rem;
    padding-top: 5rem;
    height: 100vh;
    position: relative;
    &.dark {
        background: rgba($clr-primary-10-dark, .99);
    }
    &.light {
        background: $clr-primary-7;
    }
    &.blue {
        background: $clr-primary-7-blue;
    }
    &.yellow {
        background: darken($clr-primary-9-yellow, .4) !important;
    }
    &.pink {
        background: $clr-primary-3-pink;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1.7;
    }
}

.hero-center {
    height: 100%;
    display: grid;
    align-items: center;
}

.hero .underline {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

.hero-info {
    z-index: 2;
}

.home-profesion {
    font-family: $ff-title;
    font-size: 1rem;
    &.dark {
        color: $clr-grey-5-dark;
    }
    &.light {
        color: $font-color-dark;
    }
    &.blue {
        color: $clr-grey-5-dark;
    }
    &.yellow {
        color: $font-color-light;
    }
    &.pink {
        color: $clr-primary-10-pink;
    }
}

.hero-icons {
    justify-items: flex-start;
}

.hero .btn {
    margin-top: 1.25rem;
    margin-bottom: 2.25rem;
}

.social-links {
    width: 12rem;
    display: flex;
    justify-content: space-between;
}

.social-link {
    font-size: 1.75rem;
    transition: $transition;
    &.dark {
        color: $clr-white;
    }
    &.light {
        color: $clr-primary-9;
    }
    &.blue {
        color: $clr-white;
    }
    &.yellow {
        color: $clr-white;
    }
    &.pink {
        color: $clr-primary-10-pink;
    }
}

.social-link:hover {
    &.dark {
        color: $clr-primary-5-dark;
    }
    &.light {
        color: $clr-primary-5;
    }
    &.blue {
        color: $font-color-light;
    }
    &.yellow {
        color: $clr-grey-10;
    }
    &.pink {
        color: $clr-primary-5-pink;
    }
}

.home-name-hello {
    font-family: $ff-title;
    font-size: 3.7rem;
    &.dark {
        color: $clr-white;
    }
    &.light {
        color: $clr-primary-9;
    }
    &.blue {
        color: $clr-white;
    }
    &.yellow {
        color: $clr-white;
    }
    &.pink {
        color: $clr-primary-10-pink;
    }
    @media only screen and (max-width: 767px) {
        font-size: 37px;
    }
    @media only screen and (max-width: 380px) {
        font-size: 27px;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 767px) {
    .hero-img {
        margin-top: 10px;
    }
    .home-profesion {
        font-family: $ff-title;
        font-size: 1rem;
        @media only screen and (max-width: 380px) {
            font-size: 10px;
        }
    }
}

@media screen and (min-width: 768px) {
    .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 65%;
        right: 0;
        bottom: 0;
    }
    .hero.dark::before {
        background: $clr-primary-5-dark;
    }
    .hero.light::before {
        background: rgba($clr-white, .9);
    }
    .hero.blue::before {
        background: rgba($clr-primary-3-blue, .9);
    }
    .hero.yellow::before {
        background: rgba($clr-primary-3-yellow, .9);
    }
    .hero.pink::before {
        background: rgba($clr-primary-6-pink, .9);
    }
    .hero-center {
        grid-template-columns: repeat(12, 1fr);
    }
    .home-profesion {
        font-size: 0.85rem;
    }
    .hero-info {
        grid-row: 1/1;
        grid-column: 1 / span 8;
    }
    .hero-img {
        display: block;
        max-width: 570px;
        grid-row: 1/1;
        grid-column: 7/-1;
    }
}

.link-button-toggle-lang {
    background: 0 0!important;
    border: none;
    color: $clr-grey-1;
    cursor: pointer;
    font-size: 11px;
    letter-spacing: $spacing;
    margin-bottom: 4px;
    margin-top: 4px;
    padding-bottom: 7px;
    text-decoration: none;
    text-transform: uppercase;
    transition: $transition;
    @media only screen and (max-width: 767px) {
        font-size: 9px;
    }
}

@media screen and (min-width: 1170px) {
    .home-profesion {
        font-size: 1rem;
    }
    .hero-info {
        grid-column: 1 / span 8;
    }
    .hero h2 {
        line-height: 1;
    }
}

@media screen and (max-width: 200px),
screen and (max-height: 560px) {
    .hero-img {
        max-width: 200px;
        width: 70%;
        margin: 0px auto;
        margin-right: -10px;
        margin-bottom: 15px;
    }
    .home-profesion {
        margin: 0;
    }
    .social-links {
        width: 10rem;
        margin-top: -10px;
    }
}