.skills-list {
    .skillbar {
        width: 47%;
        display: inline-block;
        margin-right: 20px;

        @media only screen and (max-width: 767px) {
            margin-right: 2px;
        }

        &:nth-child(2n) {
            margin-right: 0;
            margin-left: 20px;
        }

        .skillbar-title, .skillbar-bar  {
            border-radius: 0px !important;
        }
    }
}

.separador-section-skills {
    margin-top: 30px;
}