@import '../../sass/index.scss';

.about-github-cal {
    text-align: center;
    margin-top: -7rem;
    padding: 3rem;

    @media only screen and (max-width: 767px) {
        padding: 20px; 
    }

    .react-activity-calendar, .react-activity-calendar__count {
        margin: 0 auto;
    }

    .section-title {

        margin-bottom: 2rem;

        @media only screen and (max-width: 767px) {
            h2 {
                margin-top: 40px;
            }
        }
    }
}
