@import '../../sass/index.scss';

.about-github-cal {
    text-align: center;
    margin-top: -7rem;
    padding: 3rem;

    @media only screen and (max-width: 767px) {
        display: none;
    }
}

.react-github-container svg {
    border: solid 1px #dedede;
    background: #f9f9f9;
    border-radius: 5px;
    padding: 1rem;
}