@import '../../sass/variables.scss';

.about-page {
    padding: 10rem 0;

    @media only screen and (max-width: 767px) {
        padding: 2rem 0;
    }
}

.about-img-svg {
    margin-bottom: 2rem;
    display: block;
    border-radius: 100%;
    max-width: 200px;
    margin-left: 50px;

    @media only screen and (max-width: 767px) {
        margin: 0  auto;
        max-width: 150px;
        margin-bottom: 2rem;
    }
}

.about-text .section-title {
    margin-bottom: 2rem;
    text-align: left;
}

.about-text .underline {
    margin-left: 0;
    margin-right: 0;
}

.about-text p {
    line-height: 2;
    font-size: 14px;
    margin-top: -4px;
    text-align: justify;
}

.stack-container {
    width: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0.5rem;
}

.stack-container span {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: $clr-grey-4;
}

.stack-icon {
    color: $clr-primary-5;
    margin-right: 0.25rem;
    font-size: 1rem;
}

@media screen and (min-width: 992px) {
    .about-center {
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        align-items: center;
        column-gap: 4rem;
    }
    .about-img,
    .about-img-svg {
        grid-column: 1 / span 5;
        margin-bottom: 0;
    }
    .about-text {
        grid-column: 6 / -1;
    }
}