@import '../../sass/index.scss';

.about-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: calc(100vh - 4rem);

    @media only screen and (max-width: 767px) {
        padding: 2rem 0;
        height: auto;
    }
}

.about-stack span {
    padding: 5px 9px !important;
    margin-left: 3px !important;
    margin-bottom: 3px !important;
}

.about-stack svg{
    height: 13px;
    width: 13px;
    margin: 1px 6px -2px 0;
    color: #fff !important;
}

.about-img {
    margin-bottom: 2rem;
    display: block;
    border-radius: 100%;
    margin-left: 50px;
    max-width: 160px;
    margin: 0 auto;

    @media only screen and (max-width: 767px) {
        max-width: 130px;

    }

    &.dark { 
        box-shadow: rgba(245, 229, 250, 0.9) 0px 0px 10px;
      }
    &.light { 
        box-shadow: rgba(35, 41, 40, 0.9) 0px 0px 10px;
    }
}

.about-text {
    @media only screen and (max-width: 767px) {
        padding: 25px;
        margin-bottom: 2rem;
        padding-top: 10px;
    }
}

.about-text .section-title {
    margin-bottom: 2rem;
    text-align: left;
    @media only screen and (max-width: 767px) {
        margin-top: 2rem;
    }
}

.about-text .underline {
    margin-left: 0;
    margin-right: 0;
}

.about-text p {
    line-height: 2;
    font-size: 15px;
    margin-top: -4px;
    text-align: justify; 
}

.stack-container {
    width: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0.5rem;
}

.stack-container span {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.about-img picture img {
    border-radius: 100%;

    @media only screen and (max-width: 767px) {
        margin: 20px auto;
        max-width: 130px;
    }
}

@media screen and (min-width: 992px) {
    .about-center {
        display: grid;
        align-items: center;
        column-gap: 4rem;
        padding: 0 10rem;
    }
    .about-img {
        grid-column: 1 / span 5;
        margin-bottom: 0;
        border-radius: 100%;
    }
    .about-text {
        grid-column: 6 / -1;
    }
}

.footerAbout {
    margin: 4rem auto -40px auto;
}

.footerAbout footer p {
    font-size: 13px !important;
}