@import '../../sass/index.scss';
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    z-index: 200;
}

.navbar {
    &.dark {
        background: $clr-primary-10-dark;
        &.transparent {
            background: $clr-primary-8-dark;
        }
        color: $clr-grey-1-dark;
        &.isHome {
            background: transparent;
        }
    }
    &.light {
        background: $clr-white;
        color: $clr-grey-1;
        &.isHome {
            background: transparent;
        }
    }
    &.blue {
        background: $clr-primary-10-blue;
        &.transparent {
            background: $clr-primary-8-blue;
        }
        color: $clr-grey-1-dark;
        &.isHome {
            background: transparent;
        }
    }
    &.yellow {
        background: $clr-primary-9-yellow;
        &.transparent {
            background: $clr-primary-6-yellow;
        }
        color: $clr-grey-1-dark;
        &.isHome {
            background: transparent;
        }
    }
    &.pink {
        background: $clr-primary-6-pink;
        &.transparent {
            background: darken($clr-primary-6-pink, 1%);
        }
        color: $clr-grey-1-dark;
        &.isHome {
            background: transparent;
        }
    }
}

.nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header img {
    margin-bottom: 0.375rem;
}

.nav-language-icon {
    margin: -2px 0 -1px 0px;
    &.dark {
        color: $font-color-light;
    }
    &.light {
        color: $font-color-dark;
    }
    &.blue {
        color: $font-color-light;
    }
    &.yellow {
        color: $font-color-light;
    }
    &.pink {
        color: $font-color-dark;
    }
}

.nav-language-text {
    margin-left: 5px;
    &.dark {
        color: $font-color-light;
    }
    &.light {
        color: $font-color-dark;
    }
    &.blue {
        color: $font-color-light;
    }
    &.yellow {
        color: $font-color-light;
    }
    &.pink {
        color: $font-color-dark;
    }
}

.toggle-btn {
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    transition: $transition;
    &.dark {
        color: $clr-primary-5-dark;
    }
    &.light {
        color: $clr-primary-5;
    }
    &.blue {
        color: $clr-primary-3-blue;
    }
    &.yellow {
        color: $clr-primary-1-yellow;
    }
    &.pink {
        color: $clr-primary-5-pink;
    }
}

.toggle-btn:hover {
    &.dark {
        color: $clr-primary-5-dark;
    }
    &.light {
        color: $clr-primary-5;
    }
    &.blue {
        color: $clr-primary-5-blue;
    }
    &.yellow {
        color: darken($clr-primary-1-yellow, 20%);
    }
    &.pink {
        color: $clr-primary-8-pink;
    }
}

.nav-links {
    display: none;
}

.link-button {
    background: none!important;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: $clr-grey-1;
    letter-spacing: $spacing;
    transition: $transition;
    padding-bottom: 7px;
    margin-top: 4px;
    font-size: 11px;
}

.link-button:hover {
    &.dark {
        color: $clr-primary-5-dark;
        box-shadow: 0px 2px $clr-primary-5-dark;
    }
    &.light {
        color: $clr-primary-5;
        box-shadow: 0px 2px $clr-primary-5;
    }
    &.blue {
        color: $clr-primary-5-blue;
        box-shadow: 0px 2px $clr-primary-5-blue;
    }
    &.yellow {
        color: $clr-primary-7-yellow;
        box-shadow: 0px 2px $clr-primary-7-yellow;
    }
    &.pink {
        color: $clr-primary-5-pink;
        box-shadow: 0px 2px $clr-primary-5-pink;
    }
}

.btn-hero {
    &.dark {
        background: $clr-primary-5-dark;
        color: $font-color-light;
    }
    &.light {
        background: $clr-primary-5;
        color: $clr-primary-10;
    }
    &.blue {
        background: $clr-primary-5-blue;
        color: $clr-primary-10;
    }
    &.yellow {
        background: darken($clr-primary-7-yellow, 4%);
        color: $clr-grey-1 !important;
    }
    &.pink {
        background: $clr-primary-5-pink;
        color: $clr-white !important;
    }
}

.dark-mode-toggle {
    margin-right: 10px;
}

@media screen and (min-width: 992px) {
    .navbar {
        background: transparent;
    }
}

@media screen and (min-width: 768px) {
    .toggle-btn {
        display: none;
    }
    .nav-links {
        display: flex;
        justify-content: flex-end;
        &.dark a {
            color: $clr-grey-1-dark !important;
        }
        &.light a {
            color: $clr-grey-1 !important;
        }
        &.blue a {
            color: $clr-grey-1-dark !important;
        }
        &.yellow a {
            color: $clr-white !important;
        }
        &.pink a {
            color: $clr-grey-1 !important;
        }
    }
    .nav-links li {
        margin-right: 2rem;
    }
    .nav-links a {
        text-transform: capitalize;
        letter-spacing: $spacing;
        transition: $transition;
        padding: 0.5rem 0;
    }
    .nav-links a:hover {
        &.dark {
            color: $clr-primary-5-dark;
            box-shadow: 0px 2px $clr-primary-5-dark;
        }
        &.light {
            color: $clr-primary-5;
            box-shadow: 0px 2px $clr-primary-5;
        }
        &.blue {
            color: $clr-primary-5-blue;
            box-shadow: 0px 2px $clr-primary-5-blue;
        }
        &.yellow {
            color: $clr-primary-5-yellow;
            box-shadow: 0px 2px $clr-primary-5-yellow;
        }
        &.pink {
            color: $clr-primary-5-pink;
            box-shadow: 0px 2px $clr-primary-5-pink;
        }
    }
    .active {
        &.dark {
            color: $clr-primary-5-dark;
            box-shadow: 0px 2px $clr-primary-5-dark;
        }
        &.light {
            color: $clr-primary-5;
            box-shadow: 0px 2px $clr-primary-5;
        }
        &.blue {
            color: $clr-primary-5-blue;
            box-shadow: 0px 2px $clr-primary-5-blue;
        }
        &.yellow {
            color: $clr-primary-10-dark;
            box-shadow: 0px 2px $clr-primary-5-yellow;
        }
        &.pink {
            color: $clr-primary-5-pink;
            box-shadow: 0px 2px $clr-primary-5-pink;
        }
    }
    .nav-center {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }
}

.material-icons {
    display: none;
}