@import '../../sass/index.scss';
.footer {
    height: 11rem;
    text-align: center;
    display: grid;
    place-items: center;
    &.dark {
        background: darken($clr-primary-10-dark, 0.9);
        a,
        p {
            color: $clr-white;
            span {
                color: $clr-white;
            }
        }
        .social-link {
            color: $clr-white
        }
        .social-link:hover {
            color: $clr-primary-9-dark;
        }
        a,
        .copyright-autor-name {
            color: $clr-white;
        }
        a:hover {
            color: $clr-primary-9-dark;
        }
    }
    &.light {
        background: $clr-white;
        a,
        p {
            color: $font-color-dark;
            a,
            span {
                color: $font-color-dark;
            }
        }
        .social-link {
            color: $font-color-dark;
        }
        .social-link:hover {
            color: $clr-primary-5;
        }
        .copyright-autor-name {
            color: $font-color-dark;
        }
        a:hover {
            color: $clr-primary-5;
        }
    }
    &.blue {
        background: darken($clr-primary-10-blue, 0.9);
        a,
        p {
            color: $clr-white;
            span {
                color: $clr-white;
            }
        }
        .social-link {
            color: $clr-white
        }
        .social-link:hover {
            color: darken($clr-primary-3-blue, 0.5);
        }
        a,
        .copyright-autor-name {
            color: $clr-white;
        }
        a:hover {
            color: $clr-primary-8-blue;
        }
    }
    &.yellow {
        background: darken($clr-primary-9-yellow, 0.9);
        a,
        p {
            color: $clr-white;
            span {
                color: $clr-white;
            }
        }
        .social-link {
            color: $clr-white
        }
        .social-link:hover {
            color: $font-color-light;
        }
        a,
        .copyright-autor-name {
            color: $font-color-light;
        }
        a:hover {
            color: $clr-primary-7-yellow;
        }
    }
    &.pink {
        background: darken($clr-primary-6-pink, 2%) !important;
        a,
        p {
            color: $clr-white;
            span {
                color: $clr-white;
            }
        }
        .social-link {
            color: $clr-white
        }
        .social-link:hover {
            color: darken($clr-primary-3-pink, 0.5);
        }
        a,
        .copyright-autor-name {
            color: $clr-white;
        }
        a:hover {
            color: $clr-primary-5-pink;
        }
    }
}

.footer p {
    margin-top: 0.5rem;
}

.footer-links {
    margin: 37px auto 1rem auto;
}

.footer-author-name {
    margin: 0px 0px 0px 1px;
}