@import '../../sass/index.scss';
.footer {
    height: 11rem;
    text-align: center;
    display: grid;
    place-items: center;
    &.dark {
        background: $clr-grey-7-dark;
        a,
        p {
            color: $clr-white;
            span {
                color: $clr-white;
            }
        }
        .social-link {
            color: $clr-white
        }
        .social-link:hover {
            color: $clr-primary-9-dark;
        }
        a,
        .copyright-autor-name {
            color: $clr-white;
        }
        a:hover {
            color: $clr-primary-9-dark;
        }
    }
    &.light {
        background: $clr-grey-10;
        a,
        p {
            color: $font-color-dark;
            a,
            span {
                color: $font-color-dark;
            }
        }
        .social-link {
            color: $font-color-dark;
        }
        .social-link:hover {
            color: $clr-primary-5;
        }
        .copyright-autor-name {
            color: $font-color-dark;
        }
        a:hover {
            color: $clr-primary-5;
        }
    }
}

.footer p {
    margin-top: 0.5rem;
}

.footer-links {
    margin: 37px auto 1rem auto;
}

.footer-author-name {
    margin: 0px 0px 0px 1px;
}